.main-container {
  padding: 0;
  height: 100%;
}

.main-inner-container {
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: calc(100% - 110px);
  /*height: 80vh;*/
}

.report-address-container {
  background-color: #607D8B;
  padding-top: 15px;
  height: 110px;
  padding-bottom: 15px;
}

.inner-container {
  margin: 0 auto;
  width: 90%;
  vertical-align: center;
}

.mers-label {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  background-color: #FF5252;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: relative;
  top: 1px;
}

input.report-addr-input {
  width: 80%;
  float: left;
  height: 50px;
  font-size: 15px;
  border-radius: 0;
  position: relative;
}

input.report-addr-input:focus {
  outline: 0;
}

.report-addr-btn {
  height: 50px;
  width: 70px;
  font-size: 18px;
  border-radius: 0;
}

.info-container {
  width: 300px;
}

.info-form-label {
  font-weight: bold;
}

.btn.mers-info-btn {
  padding: 5px;
  margin-top: 5px;
}

.edit-btn, .delete-btn {
  padding-right: 10px;
}

.google-signin-btn, .mers-info-btn, .edit-info-btn {
  margin-top: 5px;
}

.form-control {
  margin-bottom: 15px;
}

.info-container {
  padding: 10px;
}

.error_message {
  color: red;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.warning {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 15px;
}