html, body {
  height: 100%;
}

.main-container {
  padding: 0;
}

.mers-jumbotron {
  font-size: 20px;
  background-color: red;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#map-canvas {
  width: 100%;
  height: 80vh;
}

.report-address-container {
  padding: 10px;
}

input.report-addr-input {
  width: 80%;
  font-size: 15px;
  line-height: 15px;
  padding: 5px;
}