<head>
  <title>MERS REPORT</title>
</head>

<template name="About">

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-3"></div>

      <p>국내 첫 메르스 환자가 확인된 후 보건당국 관계자는 "환자 숫자가 급격히 늘어날 가능성은 높지 않습니다" 라고 말했으나 불과 며칠만에 메르스 확진 환자는 열 명이 넘었으며 격리 된 환자는 수십명에 달합니다. 보건당국은 메르스의 확산을 저지하고 관련 유언비어를 막기 위해 핫라인 (043-719-7777) 을 급히 구축했으나 실효성은 아직까지 미지수입니다. 메르스의 추가적인 확산을 저지하는데 가장 중요한 시기는 앞으로 1주일 간이라고 합니다.</p>
      <p>메르스 리포트는 국민들이 힘을 합쳐 정보를 취합해 메르스의 확산 정보를 공유하고 위험에 대비할 수 있게 만든 웹사이트 입니다. 메인 화면의 지도에서 주소를 검색하고 메르스 의심 신고를 하면 그 즉시 사이트에 업데이트 됩니다. 지도에 있는 마커는 신고된 항목을 나타내고 마커를 누르면 정확히 어떤 내용인지 공유 됩니다. 무분별한 신고를 위해 사용자는 구글 계정으로 로그인을 해야하며 신고시 전화번호를 기재해서 추후 답변을 기대할 수 있습니다 (미정).</p>
      <p>웹사이트의 가장 중요한 기능들만 개발한채로 공개합니다. 앞으로 계속해서 업데이트 됩니다.</p>
    </div>
    <div class="col-xs-3"></div>
    
  </div>
</div>

</template>
