<head>
  <title>메르스 리포트</title>
</head>

<template name="About">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 about-content">
      <h2 class="red">메르스 핫라인: (043-719-7777)</h2>
      <p>메르스 리포트는 국민들이 힘을 합쳐 정보를 취합해 메르스의 확산 정보를 공유하고 위험에 대비할 수 있게 만든 웹사이트 입니다. 메인 화면의 지도에서 주소를 검색하고 메르스 의심 사례 등록을 하면 그 즉시 사이트에 업데이트 됩니다. 지도에 있는 마커는 등록된 항목을 나타내고 마커를 누르면 정확히 어떤 내용인지 공유 됩니다. 무분별한 사례 등록 방지를 위해 사용자는 구글 계정으로 로그인을 해야하며 사례 등록시 전화번호를 기재해서 추후 답변을 기대할 수 있습니다 (미정). <strong class='red'>의도적으로 허위정보를 기재할 시 법적처벌을 받을 수 있습니다.</strong></p>

      <h3>증상</h3>
      <p>메르스 잠복기는 2~14일 정도며 38℃ 이상의 발열이 유발돼 기침과 호흡곤란 등 호흡기 증상이 일어난다. 증상이 심해지면 만성질환과 면역기능 저하를 일으킨다. 메르스는 아직까지 치료제(항바이러스제)나 예방 백신이 없기 때문에 위생 수칙을 준수해 예방하는 것이 최선이다.</p>

      <h3>예방 수칙</h3>
      <ol>
        <li>평소 손 씻기 등 일반적인 개인 위생수칙 지키기</li>
        <li>사람 간 전파를 예방하기 위해 사람이 많이 붐비는 장소는 방문 자제</li>
        <li>어린이, 임산부, 노약자는 여행 자제</li>
        <li>38도 이상의 발열, 호흡곤란 등의 증상시 마스크를 쓰고 즉시 의료기관에서 진료</li>
      </ol>
      <i>출처: <a href='http://www.cdc.go.kr'>질병관리본부</a></i>
    </div>
    <div class="col-xs-3"></div>
    
  </div>
</div>

</template>
