<head>
  <link rel="image_src" href="http://mersreport.me/shareimg.jpg" />
  <meta property='og:image' content='http://mersreport.me/shareimg.jpg' />
  <meta property="og:title" content="메르스 리포트">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://mersreport.me/">
  <meta property="og:site_name" content="메르스 리포트">
  <meta property="og:description" content="메르스 관련 신고를 돕고 확산 정보를 지도에 표시해줍니다.">
</head>

<template name="Layout">

<div id="header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12"><a href='/'>메르스 리포트</a></div>
    </div>
  </div>
</div>

<div id="content-block">
  {{> yield "content"}}
</div>
  
<div id="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12">
        <span class="footer-item"><a href='/about'>추가 정보</a></span>
      </div>
    </div>
  </div>
</div>

</template>
