<template name="Layout">

<div id="header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12">메르스 리포트</div>
    </div>
  </div>
</div>

<div id="content-block">
  {{> yield "content"}}
</div>
  
<div id="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12">
        <span class="footer-item"><a href='#'>About</a></span> |
        <span class="footer-item"><a href='#'>FAQ</a></span>
      </div>
    </div>
  </div>
</div>

</template>
