<head>
  <title>MERS REPORT</title>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkBAwtcakw7RALSkCSQbESeOu3cpF9r5Y">
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51592195-6', 'auto');
    ga('send', 'pageview');
  </script>
<!--     <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'> -->
  <!-- all the other local CSS/LESS files are automatically referenced -->
</head>

<template name="Main">

<div class="container-fluid main-container">
  <div class="row-fluid main-inner-container">
    <div class="col-xs-12 report-address-container">
      <table class="inner-container">
        <span class="mers-label">메르스 의심사례</span>
        <input type="text" class="report-addr-input form-control" placeholder="서울시 중구 태평로 3가 31 OR 서울시 중구 세종대로 900"/>
        <button type="submit" class="btn btn-block btn-default report-addr-btn">검색</button>
      </table>
      <div class="warning">의도적으로 허위사실을 기재시 법적처벌을 받을 수 있습니다. <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 핫라인: 043-719-7777</div>
    </div>
    <div id="map-canvas"></div>
  </div>
</div>

</template>

<template name="SigninForm">
  <div class='info-container'>
    <div class='info-form-label'>사례 등록시 로그인 필요</div>
    <button class='btn btn-block google-signin-btn'>구글로 로그인</button>
    <!-- <button class='btn btn-block naver-signin-btn'>네이버로 로그인</button> -->
  </div>
</template>
