<head>
  <title>MERS REPORT</title>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkBAwtcakw7RALSkCSQbESeOu3cpF9r5Y">
  </script>
<!--     <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'> -->
  <!-- all the other local CSS/LESS files are automatically referenced -->
</head>

<template name="Main">

<div class="container-fluid main-container">
  <div class="mers-jumbotron">
    메르스 리포트
  </div>
  <div class="row-fluid">
    <div id="map-canvas"></div>
    <div class="col-xs-12 report-address-container">
      <table class="inner-container">
        <input type="text" class="report-addr-input form-control" placeholder="서울시 성동구 두산위브 아파트 101동 202호">
        <button type="submit" class="btn btn-primary report-addr-btn">검색</button>
      </table>
    </div>
  </div>
</div>

</template>

<!-- <template name="Map">
  <div class="map-canvas"></div>
</template>
 -->